<app-header></app-header>
<div class="row">
  <div class="col s6 m6">
    <h3>Báo cáo tuyến</h3>        
    <br/>
      
    <label><h6>Tên tuyến</h6> </label>
    <select class="browser-default" #selectRoute (change)="onRouteChange($event.target.value)">
      <option value="-1" selected>Chọn tuyến</option>
      <option [value]="route.id" *ngFor="let route of routes">{{route.name}}</option>      
    </select> 
    <label><h6>Nhập ngày</h6> </label>
    <input placeholder="yyyy-MM-dd" id="date" [(ngModel)]="dateInput"  type="text">
    <br/>
    <a class="waves-effect waves-light btn" (click)="onRefresh()"><i class="material-icons right">search</i>Tìm kiếm</a>&nbsp;
    <a class="waves-effect waves-light btn" (click)="exportXLSX()"><i class="material-icons right">file_download</i>Xuất báo cáo</a>&nbsp;
  </div>
</div>
<div class="row">
    <div class="col s6 m6">

        
        <h6 *ngIf="checkShow">Tỷ lệ chiều đi thành công: {{dataRoute?.trip_go_success}}/{{dataRoute?.total_trip}}</h6>
        <h6 *ngIf="checkShow">Tỷ lệ chiều về thành công: {{dataRoute?.trip_back_success}}/{{dataRoute?.total_trip}}</h6>
        <h6 *ngIf="checkShow">Tỷ lệ chuyến thành công: {{dataRoute?.trip_success}}/{{dataRoute?.total_trip}}</h6>
    </div>
   
  </div>

<div class="row">
  <div class="col s12 m12">             
    <div class="progress" *ngIf="isLoading" >
        <div class="indeterminate"></div>
    </div>    
    <table  class="striped fixed_header" id="report_route" >
        <colgroup width="50"></colgroup>
        <colgroup width="100"></colgroup>
        <colgroup width="100"></colgroup>
        <colgroup width="100"></colgroup>
          <colgroup width="50"></colgroup>
       
          <thead>
            <tr>   
                <th>STT</th>           
                <th>Tên chuyến</th>
                <th>Tên xe</th>
                <th>Khởi hành</th>
                <th>Kết thúc</th>
                <th>Trạng thái đi </th>
                <th>Điểm dừng đi</th>
                <th>Thời gian xe tới</th>
                <th>Trạng thái về </th>
                <th>Điểm dừng về</th>
                <th>Thời gian xe tới</th>
            </tr>
          </thead>
  
          <tbody>
              <tr  *ngFor="let trip of dataRoute?.data;let i=index">
                  <td >{{i+1}}</td>
                  <td >{{trip.trip_name}}</td>
                  <td >{{trip.device_name}}</td>
                  <td >{{trip.time_start}}</td>
                  <td >{{trip.time_end}}</td>
                  <td > {{trip.go.station_success}}/{{trip.go.total_station}}</td>
                  <td colspan="2">
                      <table>                       
                        <tbody>
                          <tr *ngFor='let station of trip?.go?.calendar'>
                            <td style="width: 50%!important">{{station.station_name }}</td>       
                            <td>{{station.date_time?(station.date_time | date:"HH:mm:ss"):"null" }}</td>                      
                          </tr>
                        </tbody>
                      </table>
                    </td>    
                  <td > {{trip.back.station_success}}/{{trip.back.total_station}}</td>
                  <td colspan="2">
                      <table>                       
                        <tbody>
                          <tr *ngFor='let station of trip?.back?.calendar'>
                            <td style="width: 50%!important">{{station.station_name }}</td>       
                            <td>{{station.date_time?(station.date_time | date:"HH:mm:ss"):"null" }}</td>                      
                          </tr>
                        </tbody>
                      </table>
                    </td>     
                              
              </tr>                   
          </tbody>
        </table>     
</div>
</div>