<nav class="bule">
  <div class="nav-wrapper">
    <a href="/home" class="brand-logo center">
      <i class="material-icons">cloud</i>Ecopark Bus Station Info
    </a>
    <ul class="left">

    </ul>
    <ul class="right">      
      <li><a href="/home">Home</a></li>
      <li><a href="/station-route">Station Route</a></li>
      <li><a href="/route-depart">Route Depart</a></li>
      <li><a href="/report">Report</a></li>
      <li><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</nav>
