<div class="container">
    <div class="col  l10 m12 s12">
        <div class="card grey lighten-2">
          <div class="card-tabs">
            <div class="tabs tabs-fixed-width tabs-transparent">
              <li class="tab">
                <a  routerLink="/login" routerLinkActive="active" >Sign In</a>
              </li>
              <!-- <li class="tab">
                <a  routerLink='/signup' routerLinkActive="active">Sign Up</a>
              </li> -->
            </div>
  
          </div>
          <div class="card-content white">
            <div class="row">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>  
</div>