<app-header></app-header>
<div class="row">
  <div class="col s12 m12 l6" style="padding-top: 10px;">
    <agm-map (mapClick)="close_window()" [latitude]="lat" [longitude]="lng" [fitBounds]="true" [zoom]="14">
      <!-- <agm-marker  [latitude]="lat" [longitude]="lng"> -->
      <agm-marker (markerClick)=select_marker(infoWindowStation) [latitude]="currentStation?.lat"
        [longitude]="currentStation?.lng" [iconUrl]="'assets/icon-map/parking.svg'" [agmFitBounds]="true">
        <agm-info-window #infoWindowStation>{{currentStation?.name}}
        </agm-info-window>
      </agm-marker>
      <agm-marker (markerClick)=select_marker(infoWindow) *ngFor="let device of deviceListShow;let i=index"
        [latitude]="device?.lat" [longitude]="device?.lng"
        [iconUrl]="{url:'assets/icon-map/maps-and-flags.svg',labelOrigin:labelOrigin}" 
        [label]="{color: 'black',fontFamily: '',fontSize: '14px',fontWeight: 'bold',text: device.device_name}">
        <agm-info-window #infoWindow>{{device.device_name}}</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>

  <div class="col s12 m12 l6">
    <h3>Station Route</h3>
    <h5>Điểm dừng xe</h5>
    <label></label>
    <select class="browser-default" #selectStation (change)="onStationChange($event.target.value)">
      <!-- <option value="" selected>Chọn điểm dừng</option> -->
      <option [value]="station.key" *ngFor="let station of stationList">{{station.name}}</option>
    </select>
    <br />
    <div class="input-field">
      <div class="col s6 m6">
        <a class="waves-effect waves-light btn" (click)="onRefresh()"><i class="material-icons right">replay</i>Refresh
          now</a>&nbsp;
        <a class="waves-effect waves-light btn disabled">Refresh after {{currentTimeInterval}} seconds</a>&nbsp;
      </div>

      <div class="col s6 m6">
        <label>
          <input name="typeDisplay" (change)="onTypeDisplay($event.target.value)" value="1" type="radio"
            checked />
          <span>Display as led</span>
        </label>
        <label>
          <input name="typeDisplay" (change)="onTypeDisplay($event.target.value)" value="2" type="radio" />
          <span>Display for debug</span>
        </label>       
      </div>


    </div>



    <div class="progress" *ngIf="isLoading">
      <div class="indeterminate"></div>
    </div>
    <table class="striped highlight fixed_header " *ngIf="typeDisplay==1">
      <colgroup>
        <col style="width: 50px!important">
        <col style="min-width:70px">
        <col>
        <col style="width: 20px">
        <col style="width: 20px">
        <col style="width: 20px">
      </colgroup>
      <thead>
        <tr>
          <th>STT</th>
          <th>Tuyến số</th>
          <th>Tên xe</th>
          <th>Hướng DC</th>
          <th>Khoảng cách (km)</th>
          <th>Phút</th>          
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of stationRoute;let i=index">
          <td>{{i+1}}</td>
          <td>{{item.route_name}}</td>
          <td>{{item.device_name}}</td>
          <td>{{item.direction}}</td>
          <td>{{item.distance}}</td>
          <td>{{item.duration}}</td>  
        </tr>
        <tr *ngFor="let item of routeDepart;let i=index">
          <td>{{i+1+ stationRoute.length}}</td>
          <td>{{item.route_name}}</td>
          <td>{{item.device_name}}</td>
          <td>{{item.direction}}</td>
          <td></td>
          <td>{{item.time_start}}</td>  
        </tr>
      </tbody>
    </table>
    <table class="striped highlight fixed_header" *ngIf="typeDisplay==2">
      <colgroup>
        <col style="width: 50px!important">
        <col style="min-width:70px">
        <col>
        <col style="width: 20px">
        <col style="width: 20px">
        <col style="width: 20px">
      </colgroup>
      <thead>
        <tr>
          <th>STT</th>
          <th>Tuyến số</th>
          <th>Tên xe</th>
          <th>Hướng</th>
          <th>Trạm dừng</th>          
          <th>Điểm dừng cuối</th>          
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of stationRouteDebug;let i=index">
          <td>{{i+1}}</td>
          <td>{{item.route_name}}</td>
          <td>{{item.device_name}}</td>
          <td>{{item.direction}}</td>
          <td>{{item.location_point?.order_point}}</td>  
          <td>{{item.current_point?.order_point}}-{{item.current_point?.name}}</td>  
        </tr>       
      </tbody>
    </table>
  </div>
</div>
<div class="s12">


</div>