/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty,input.ng-invalid.ng-touched{
    border-bottom-color:#e91e63 !important;
    box-shadow:#e91e63 !important;
}
agm-map {
    height: calc(100vh - 85px);
}
/*Creates table with scrollable tbody*/
//only screen and (max-width: 992px)
@media(max-width: 1024px){
  .brand-logo{
    display: none!important;
  }
}
@media(min-width: 992px){
  tbody {
    display:block;
    min-height:350px;
    max-height:570px;
    overflow:auto;
    width: 100%;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  thead {
    width: calc( 100% - 1em )
  }
  table {
    width:100%;
    display:table;
  }
  table tr td:nth-child(1),table tr th:nth-child(1){
   width: 50px!important;
  }

}
#report_route {
  td{
    padding:5px;
  }
   tr td:nth-child(4), tr th:nth-child(4){
    width: 100px!important;
   }
   tr td:nth-child(5), tr th:nth-child(5){
    width: 100px!important;
   }
   tr td:nth-child(6), tr th:nth-child(6){
    width: 100px!important;
   }
   tr td:nth-child(7), tr th:nth-child(7){
    min-width: 200px!important;
   }
  table tbody{
    min-height: 150px!important;
    max-height: 570px!important;
  }
  // &:tbody{
    
  // }
}
#report_route>tbody {
  max-height: 800px!important;
}

  
/* width */
::-webkit-scrollbar {
    // background-color: rgb(255, 0, 0);
    width: 5px!important;
    height: 5px!important;
  }
  ::-webkit-scrollbar-thumb
{
    background-color: #ccc;
    border-radius: 10px;    
	// border: 2px solid #555555;
}
@media (min-width: 769px){
  .table-cell{display: table-cell;}
}