<form #loginForm="ngForm" class="col s12 white" (ngSubmit)='onSubmit(loginForm)'>
  <div class="row">
    <div class="input-field col s12"> 
      <i class="material-icons prefix">account_circle</i>
      <input type="text" #userName ngModel name="userName" placeholder="User name" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input type="password" #password  ngModel name="password" placeholder="Password" required>
    </div>
  </div>
  <div *ngIf="isLoginError" class="red-text error-message">
      <i class="material-icons">error</i>Incorrect username or password      
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="loginForm.invalid" class="btn-large btn-submit" type="submit">Login</button>
    </div>
  </div>
  
</form>