<app-header></app-header>
<div class="row">
    <div class="col s12 m12 l6" style="padding-top: 10px;">
        <agm-map (mapClick)="close_window()" [latitude]="lat" [longitude]="lng"  [fitBounds]="true" [zoom]="14">
            <!-- <agm-marker  [latitude]="lat" [longitude]="lng"> -->
            <agm-marker (markerClick)=select_marker(infoWindowStation)  [latitude]="currentStation?.lat" [longitude]="currentStation?.lng" 
            [iconUrl]="'assets/icon-map/parking.svg'" [agmFitBounds]="true">
              <agm-info-window #infoWindowStation>{{currentStation?.name}}                
              </agm-info-window>
            </agm-marker>
            <agm-marker (markerClick)=select_marker(infoWindow) *ngFor="let device of deviceListShow;let i=index" [latitude]="device?.lat" [longitude]="device?.lng"
              [iconUrl]="{url:'assets/icon-map/maps-and-flags.svg',labelOrigin:labelOrigin}" [agmFitBounds]="true" [label]="{color: 'black',fontFamily: '',fontSize: '14px',fontWeight: 'bold',text: (i+1).toString()}">
              <agm-info-window #infoWindow >{{device.name}}</agm-info-window>
            </agm-marker>
          </agm-map>
    </div>
    
    <div class="col s12 m12 l6">
        <!-- <h3>Xã Xuân Quan, Văn Giang, Hưng Yên</h3> -->
        <!-- Dropdown Trigger -->     
        <h5>Điểm dừng xe</h5>   
        <label></label>
        <select class="browser-default" #selectStation (change)="onStationChange($event.target.value)">
          <!-- <option value="" selected>Chọn điểm dừng</option> -->
          <option [value]="station.key" *ngFor="let station of stationList">{{station.name}}</option>      
        </select>
        <br/>
        <div class="input-field">
            <div class="col s6 m6">
                <a class="waves-effect waves-light btn" (click)="onRefresh()"><i class="material-icons right">replay</i>Refresh now</a>&nbsp;
                <a class="waves-effect waves-light btn disabled">Refresh after {{currentTimeInterval}} seconds</a>&nbsp;  
            </div>
            
            <div class="col s6 m6">
                <label>
                    <input name="distanceType" (change)="onDistanceTypeChange($event.target.value)" value="1" type="radio" checked />
                    <span>Distance by road</span>
                  </label>
                  <label>
                      <input name="distanceType"  (change)="onDistanceTypeChange($event.target.value)" value="2" type="radio" />
                      <span>Distance by LatLng</span>
                    </label>                  
                <!-- <select class="browser-default" #selectDistanceType (change)="onDistanceChange($event.target.value)">                            
                    <option value="1" selected>Distance by road</option>
                    <option value="2">Distance by LatLng</option>                
                  </select> -->
            </div>
           
           
        </div>
          
        
         
        <div class="progress" *ngIf="isLoading" >
            <div class="indeterminate"></div>
        </div>
        <table  class="striped highlight fixed_header" >
          <colgroup>
            <col style="width: 50px!important">
            <col style="min-width:70px">
            <col >
            <col style="width: 20px">
            <col style="width: 20px">
            <col style="width: 20px">
          </colgroup>
            <thead>
              <tr>
                  <th >STT</th>
                  <th>Tuyến số</th>
                  <th>Địa chỉ</th>
                  <th>KM</th>
                  <th>Phút</th>                  
                  <th>Thời gian cập nhật</th>                  
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let device of deviceListShow;let i=index">
                <td >{{i+1}}</td>
                <td>{{device.name}}</td>
                <td>{{device.address}}</td>
                <td>{{device.distance}}</td>
                <td>{{device.duration}}</td>
                <td>{{device.trktime | date: 'dd/MM HH:mm:ss'}}</td>
              </tr>                         
            </tbody>
          </table>
    </div>
  </div>
<div class="s12">
  
    
</div>

